body{
    background-color: rgb(255, 231, 200);
}

.wrapper{
	display: grid;
    grid-gap: 10px;
    grid-template-areas:
    "mini_gap mini_gap mini_gap mini_gap mini_gap mini_gap mini_gap mini_gap"
	  "toolBar  toolBar  toolBar  toolBar  toolBar  toolBar  toolBar  toolBar"
    "headerImg headerImg headerImg headerImg headerImg headerImg headerImg filter"
    "leftSidebar main main main main main main rightSidebar"
    "footer footer footer footer footer footer footer footer";
    background-color: #fff;
    color: #444;
    }

    .mini_gap{
        grid-area: mini_gap;
    }
    
    .toolBar{
        grid-area: toolBar;
        display: flex;
        /* justify-content: space-between;
        width: 1000px;
        justify-self: right; */
        background-image: linear-gradient(45deg, rgb(253, 250, 245),rgb(255, 231, 200));
        margin-right: 10px;
    }
    .headerImg{
        grid-area: headerImg;
        display: inline;
        padding-top: 30px;
        padding-right: 15px;
    }
    .imgText{
        font-size: 32px;
        display: inline;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
    }
    .imgs{
        width:200px;
        height:320px;
    }
    .leftSidebar{
        grid-area: leftSidebar;
        height: 200px;
        background: red;
    }
    
    .rightSideBard{
        grid-area: rightSideBard;
        height: 200px;
        background: greeen;
    }
    
    .main{
        grid-area: main;
    }
    
    .footer{
        grid-area: footer;
        background-color: rgb(255, 231, 200);
    }
    /* for the swimsuits & home pages */
    .barText{
        position: relative;
        border-width: 1.5px;
        padding: 20px;
        display: inline;
        font-size: 25px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 200;  

    }
    .barText:hover {
        font-weight: 500;
        cursor: pointer;
      }
    .filter{
        grid-area: filter;
        display: inline;
        padding-left: 10px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .img-holder {
        min-height: 300px;
        max-width: 350px;
        margin: 0 auto;
        position: relative;
        display: inline;
      }
      
      .img-holder h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background: rgba(65, 55, 91, 0.8);
        color: white;
        bottom: 0;
        left: 0;
        width: 160px;
        height: 50px;
        margin: 0;
        padding: 10px;
        text-align: center;
      }
      
      .img-preview {
        display: inline;
        margin: 0 auto;
        object-fit: cover;
        min-height: 300px;
        max-width: 350px;
      }
      
      .img-container{
        width: 200px;
        height: 400px;
        padding: 40px;
        background-position: center top;
      }
      /* for the grey area behind pictures and previous button */
      a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 10px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 25px;
      }
      
      a:hover {
        background-color: #ddd;
        color: black;
        cursor: pointer;
      }
      
      ul{
        list-style: none;
      }

      .previous {
        color: black;
        font-size: 25px;
      }
      /* for the shoping pages */
      .img-holder h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background: rgba(250, 130, 109, 0.8);
        color: white;
        bottom: 30px;
        left: 25px;
        width: 160px;
        height: 50px;
        margin: 0;
        padding: 10px;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 17px;
      }
      
      .img-container2{
        width: 200px;
        height: 400px;
        padding: 10px;
        background-position: center top;
      }

      .salePageHeader{
        padding:10px;
        background-image: linear-gradient(45deg, rgb(253, 250, 245),rgb(255, 231, 200));
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 30px;
        display: flex;
        justify-self: right;
      }

      /* test */


      
      label {
        color: slateGray;
        font-size: 0.8rem;
      }
      
      input {
        width: 60%;
        font-size: 1rem;
        line-height:1rem;
      } 
      button {
        width: 100%;
        font-size: 1rem;
        line-height:1rem;
      }
      
      input {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
      }
      
      fieldset {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border: none;
        box-shadow: 0px 0px 2px rgba(0,0,0,1);
        background-color: rgb(240,240,240);
      }
      
      legend, button {
        background-color: rgb(135, 206, 235);
        padding: 0.3rem;
        font-size: 1.3rem;
        color: white;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
        transform: translateX(-1.1rem);
        box-shadow: -1px 1px 1px rgba(0,0,0,0.8);
      }
      
      button {
        transform: none;
        box-shadow: none;
      }
      
      button:hover {
        background-color: gray;
        cursor: pointer;
      }
      
      legend:after {
        content: "";
        height: 0;
        width:0;
        background-color: transparent;
        border-top: 0.0rem solid transparent;
        border-right:  0.35rem solid black;
        border-bottom: 0.45rem solid transparent;
        border-left: 0.0rem solid transparent;
        position:absolute;
        left:-0.075rem;
        bottom: -0.45rem;
      }

      .footer_content{
        justify-content: center;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }


      
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #1C2325;
    color: #eee;
  }
  
  .outer-wrapper {
    width: 80%;
    margin: 50px auto;
  }
  
  .s-wrap {
    width: 70%;
    margin-bottom: 50px;
    padding-bottom: 55%;
    position: relative;
    border: 10px solid rgb(148, 134, 116);
    background-color: #efefe8;
    box-shadow: 0 0 0 5px  rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  .s-wrap > input {
    display: none;
  }
  .s-wrap .s-content {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 100%;
    font-size: 0;
    list-style: none;
    transition: transform 1s;
  }
  .s-wrap .s-item {
    display: inline-block;
    width: 20%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vw;
    height: 40vw;
    margin-left: 28px;
    margin-right: 28px;
  }
  .s-wrap .s-item-1 {
    background-image: url("Picture2.png");
    
  }
  .s-wrap .s-item-2 {
    background-image: url("Picture3.png");
    
  }
  .s-wrap .s-item-3 {
    background-image: url("Picture4.png");
   
  }
  .s-wrap .s-item-4 {
    background-image: url("Picture5.png");
    
  }
  .s-wrap .s-item-5 {
    background-image: url("Picture6.png");
  
  }
  
  .s-type-1 .s-control {
    position: absolute;
    bottom: 18px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    transition-timing-function: ease-out;

  }
  .s-type-1 .s-control > label[class^="s-c-"] {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #999;
    background-color: #efefe8;
    cursor: pointer;
  }
  .s-type-1 .s-nav label {
    display: none;
    position: absolute;
    top: 50%;
    padding: 5px 10px;
    transform: translateY(-50%);
    cursor: pointer;
    
  }
  .s-type-1 .s-nav label::before, .s-type-1 .s-nav label::after {
    content: "";
    display: block;
    width: 8px;
    height: 24px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    
    
  }
  .s-type-1 .s-nav label::before {
    margin-bottom: -12px;
  }
  .s-type-1 .s-nav label.left {
    left: 20px;
  }
  .s-type-1 .s-nav label.left::before {
    transform: rotate(45deg);
  }
  .s-type-1 .s-nav label.left::after {
    transform: rotate(-45deg);
  }
  .s-type-1 .s-nav label.right {
    right: 20px;
  }
  .s-type-1 .s-nav label.right::before {
    transform: rotate(-45deg);
  }
  .s-type-1 .s-nav label.right::after {
    transform: rotate(45deg);
  }
  .s-type-1 #s-1:checked ~ .s-content {
    transform: translateX(0%);
  }
  .s-type-1 #s-1:checked ~ .s-control .s-c-1 {
    background-color: #333;
  }
  .s-type-1 #s-1:checked ~ .s-nav .s-nav-1 {
    display: block;
  }
  .s-type-1 #s-2:checked ~ .s-content {
    transform: translateX(-20%);
  }
  .s-type-1 #s-2:checked ~ .s-control .s-c-2 {
    background-color: #333;
  }
  .s-type-1 #s-2:checked ~ .s-nav .s-nav-2 {
    display: block;
  }
  .s-type-1 #s-3:checked ~ .s-content {
    transform: translateX(-40%);
  }
  .s-type-1 #s-3:checked ~ .s-control .s-c-3 {
    background-color: #333;
  }
  .s-type-1 #s-3:checked ~ .s-nav .s-nav-3 {
    display: block;
  }
  .s-type-1 #s-4:checked ~ .s-content {
    transform: translateX(-60%);
  }
  .s-type-1 #s-4:checked ~ .s-control .s-c-4 {
    background-color: #333;
  }
  .s-type-1 #s-4:checked ~ .s-nav .s-nav-4 {
    display: block;
  }
  .s-type-1 #s-5:checked ~ .s-content {
    transform: translateX(-80%);
  }
  .s-type-1 #s-5:checked ~ .s-control .s-c-5 {
    background-color: #333;
  }
  .s-type-1 #s-5:checked ~ .s-nav .s-nav-5 {
    display: block;
  }
  
  .s-type-2 .s-content {
    animation: slider-animation 50s ease-in-out infinite;
  }
  .s-type-2 .s-content:hover {
    animation-play-state: paused;
    opacity: 0.9;
  }
  
  @keyframes slider-animation {
    0%,
      7% {
      transform: translateX(0%);
    }
    12.5%,
      19.5% {
      transform: translateX(-20%);
    }
    25%,
      32% {
      transform: translateX(-40%);
    }
    37.5%,
      44.5% {
      transform: translateX(-60%);
    }
    50%,
      57% {
      transform: translateX(-80%);
    }
    62.5%,
      69.5% {
      transform: translateX(-60%);
    }
    75%,
      82% {
      transform: translateX(-40%);
    }
    87.5%,
      94.5% {
      transform: translateX(-20%);
    }
  }
  
