<div class="footer">
    <div class="footer_content">
        <p>חפשו אותנו:</p>
        <a href="https://www.instagram.com/bikini4u_/" target="_blank" onmouseout="this.style.backgroundColor='transparent'" onmouseover="this.style.backgroundColor='transparent'">
        <img src="{{ url_for('static', filename='simbles/insta.jpeg') }}" alt="no image now" class="img_social"></a>
        <a href="https://www.facebook.com/hodaya.eluz" target="_blank" onmouseout="this.style.backgroundColor='transparent'" onmouseover="this.style.backgroundColor='transparent'">
        <img src="{{ url_for('static', filename='simbles/facebook.png') }}" alt="no image now" class="img_social"></a>
    </div>
</div>

